.auth{
    padding: 10px;
    background-image: url(img/smk.png);
    width: auto;
    height: auto;
    background-size: cover;
    background-position: top;
    background-origin: border-box;
}
.auth .card{
    box-shadow: -8px 12px 18px 0 rgb(25, 42, 70, 0.13);
    margin-bottom: 2.2rem;
    border-radius: 2px;
    padding: 20px;
}
.auth h1{
    text-align: center;
    font-weight: 500;
    padding: 5px;
    color: #21be21e7;
}
.auth h3{
    text-align: center;
    font-weight: 600;
    color: #fafafa;
}
.auth h4{
    color: aliceblue;
    font-size: 15px;
}
.auth .footer{
    background-color: #464343;
    background-position: 0px;
}
.authbackground{
    padding: 10px;
    background-image: url(img/smk.png);
    width: auto;
    height: auto;
    background-size: cover;
}
.background{
    padding: 35px;
    background-color: rgba(255, 253, 253, 0.507);
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-origin: content-box;
    
}
.background.kelas{
    background-color: rgb(129, 124, 124);
    background-repeat: no-repeat;
    background-position: right;
    
}
.class{
    width: 300px;
    height: 46px;
}
.fc{
    width: 300px;
    height: 300px;
}
.chat{
    width: 956px;
    height: 46px;
    display:grid;
    grid-template-columns: 76% auto;
    background-color:#343a40;
    
}
.h2{
    padding: 5px;
    margin: 5px;
}
